#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 56rem;
  max-width: calc(100dvw - 7rem);
  padding: 1.5rem;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  align-items: center;
  padding-bottom: 1rem;
}

.contacts {
  margin-bottom: 1rem;
}

.contact-logo {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2rem;
}

.copyright-message {
  color: rgb(255, 255, 255, 0.30);
}

.card {
  padding: 2em;
}
